body {
    font-family: "Poppins", sans-serif;
    background: #fff0f5;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    color: #f76bb1;
}

h2{
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    color: #ff69b4;
}

nav {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

nav a {
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 1.5rem;
    background-color: white;
    color: #ff69b4;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ff69b4;
    color: white;
    transform: scale(1.05);
}

section {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1.5rem auto;
    width: 800px;
    max-width: 700px;
    text-align: left;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

section:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

section a:hover {
    background-color: #ff69b4;
    color: white;
    transform: scale(1.05);
}

section p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

section a {
    display: inline-block;
    margin-top: 0.5rem;
    background-color: #ff69b4;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: all 0.25s ease;
}